/* Removed invalid import statement */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.body-container {
  min-width: 1200px;
  margin: 0 auto;

  border: 1px solid rgb(255, 12, 12);
  margin-top: 100px;

  position: relative;
}
